.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background-color: blue;
  height: 250px;
  margin: 20px;
  width: 50%;
  padding: 20px;
}

.input {
  margin: 20px;
  padding: 20px;
  background-color: grey;
 }
 .output{
   background-color: aqua;
   height:50px;
   width: 500px;
   margin: 20px;
   padding: 20px;
   align-content: center;
 }
 h2,h4{
  margin: 20px;
  font-family: 'Germania One', cursive;
 }
 input[type="text"]{
  width:10%;/* Whatever percent you want*/
}
#image{
  background-color: white;
  height: 200px;
  width: 200px;
  float: left;
}