body{
  background-image: url("../images/background_Triangle.jpg");
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background-color: blue;
  height: 500px;
  margin: 20px;
  width: 80%;
  padding: 20px;
}

.input {
  margin: 20px;
  padding: 20px;
  background-color: grey;
  width: 50%;
 }
 .output{
   background-color: aqua;
   height:50px;
   width: 500px;
   margin: 20px;
   padding: 20px;
   align-content: center;
 }
 h2,h4{
  margin: 20px;
  font-family: 'Germania One', cursive;
 }
 input[type="text"]{
  width:20%;
}
#image{
  background-color: white;
  height: 400px;
  width: 450px;
  float: left;
  margin: 20px;
  padding: 20px
  

}
#input{
  background-color: white;
  height: 200px;
  width: 300px;
  margin: 20px;
  padding: 20px
}